.main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
}

.img{
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: blue;
}
.login{
  grid-column-start: 2;
  grid-column-end: 3;
  color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
