
.main {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 6fr 3fr;
    background-color: #1f1c31;
    font-family: Verdana sans-serif;
    color: white;
  }

  .title {
    font-size: 30px;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid gray;
    padding: 20px;
  }


.userBottom {
    display: flex;
    align-items: center;
}

.userBottom img  {
    margin-right: 10px;
}
.userBottom p  {
    margin: 0px;

}

  .mid {
    text-align: left;
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
  }

  .mid input {
    width: 100%;
    background-color: transparent;
    text-decoration: none; 
    outline: none;
    border: 0px;
    background: none;
    padding: 15px;
    color: white;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .topMid {
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
  }

  .sendtweet {
    display: flex;
    justify-content: flex-end;
  }

  .sendtweet p {
    margin-right: 30px;
  }

  .countChar {
    font-size: 16px;
  }


  .right{
    height: 100vh;
    padding: 20px;
  }

.button {
  background-color: #AE445A;
  border-radius: 50px;
  border: 1PX solid #AE445A;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 30px;
  text-align: center;
 }

 .button:hover {
  background-color: #e25975;
  border-radius: 50px;
  border: 1PX solid #1f1c31;
  color: #1f1c31;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 30px;
  text-align: center;
 }

 .logout {
  display: inline-block;
  padding: 10px 20px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.logout:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.logout:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}