.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: beige;
}

.input{
    margin: 10px;
}

.button {
  background-color: #AE445A;
  border-radius: 50px;
  border: 1PX solid #AE445A;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  padding: 10px 30px;
  margin-top: 30px;
  text-align: center;
   }


  .button:hover {
    background-color: #e25975;
    border-radius: 50px;
    border: 1PX solid #1f1c31;
    color: #1f1c31;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 30px;
    text-align: center;
  }
