.container {
    margin: 20px
}

.userInfos {
    display: flex;
    align-items: center;
}

.images {
    margin-right: 10px;
}

.name {
    margin-right: 10px;
}

.date {
    font-size: 16px;
    color: gray;
}

.tweetIcons {
    display: flex;
}

.tweetIcons p {
    margin: 0px 5px;
}



.icon{
    width: 16px;
    height: 16px;
    cursor: pointer;
}