.container {
    margin: 20px
}

.userInfos {
    display: flex;
    align-items: center;
}

.images {
    margin-right: 10px;
}

.name {
    margin-right: 10px;
}

.date {
    font-size: 14px;
    color: gray;
}

.tweetIcons {
    display: flex;
}

.tweetIcons p {
    margin: 0px 5px;
}

.tweetContent {
    font-size: 20px;
    font-family: verdana;
}

.icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}